.page-container {
	margin: auto;
	margin-top: 20px;
}

.title-links a:not(:first-child){
	margin-left: 15px;
}

.screen {
	border: 1px solid black;
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
}

.render-controls {
	display: flex;
	align-items: center;
	margin-bottom: 1.5rem;
}

.render-controls > :not(:first-child) {
	margin-left: 20px;
}

.frame-progress {
	width: 200px;
	margin-bottom: 0;
}

.render-controls > .flex-gap {
	margin-left: auto;
}

::-webkit-progress-value {
  transition: width 0.2s;
}

.settings-container .buttons.settings-toggle {
	margin-bottom: 0;
}

.settings-container .buttons.settings-toggle .button {
	margin-bottom: 0;
}

.scene-object-controls {
	display: flex;
	padding-top: .75rem;
}

.scene-object-controls:last-child {
	padding-bottom: .75rem;
}

.scene-object-controls > * {
	padding: 0 .75rem;
}

.scene-object-delete {
	margin-left: auto;
}

.scene-object-title {
	display: flex;
	align-items: center;
}

.scene-object-title .title {
	padding-left: 0.5em;
}

.scene-object-body {
	padding-top: 1rem;
}

.add-scene-object {
	margin-bottom: .75rem;
}

.spacer {
	margin-inline-start: auto;
}

.footer-spacer {
	height: 100px;
}