<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Path Tracer</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-slider@2.0.0/dist/css/bulma-slider.min.css">
	<link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.2.45/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	
	<div id="vue-app">
		<div class="page-container" :style="{ maxWidth: resolution.width + 'px' }">
			<h1 class="title is-marginless">
				Plain JavaScript Path Tracer
			</h1>
			<span class="title-links">
				<a href="https://gitlab.com/hughblackall/pathtrace" target="_blank">
					<span class="icon is-small"><i class="mdi mdi-gitlab" aria-hidden="true"></i></span>
					Source
				</a>
				<a href="https://en.wikipedia.org/wiki/Path_tracing" target="_blank">
					<span class="icon is-small"><i class="mdi mdi-wikipedia" aria-hidden="true"></i></span>
					About
				</a>
			</span>
			
			<canvas id="screen-sink" width="1024" height="576" class="screen"></canvas>

			<div class="render-controls">
				<button class="button is-primary is-rounded" :class="{'is-loading': renderActive}" @click="renderClick" autofocus>Render</button>
				<!-- <button class="button is-danger is-rounded" v-if="renderActive" @click="renderStop">Stop</button> -->
				<span class="is-size-6" v-if="renderActive">Rendering using {{pathTracer.settings.threadCount}} threads...</span>
				<span class="is-size-6" v-if="renderTime">Render time: {{renderTime}} s</span>
				<span class="is-size-6 flex-gap">Frame: {{frameCount}}/{{frameLimit}}</span>
				<progress class="frame-progress progress is-small is-primary" :value="frameCount" :max="frameLimit"></progress>
			</div>

			<div class="tabs is-centered">
				<ul>
					<li @click="selectedTab = 'scene-settings'" :class="{ 'is-active' : selectedTab == 'scene-settings' }">
						<a>
							<span class="icon is-small"><i class="mdi mdi-image-size-select-actual" aria-hidden="true"></i></span>
							<span>Scene</span>
						</a>
					</li>
					<li @click="selectedTab = 'render-settings'" :class="{ 'is-active' : selectedTab == 'render-settings' }">
						<a>
							<span class="icon is-small"><i class="mdi mdi-cog" aria-hidden="true"></i></span>
							<span>Render settings</span>
						</a>
					</li>
				</ul>
			</div>

			<div class="tab-container columns" v-if="selectedTab == 'scene-settings'">
				<div class="scene-settings column">

					<div class="columns is-centered">
						<div class="column is-narrow">
							<div class="dropdown" :class="{ 'is-active': selectingNewSceneObject }" 
									@click="selectingNewSceneObject = !selectingNewSceneObject"
									@mouseleave="selectingNewSceneObject = false">
								<div class="dropdown-trigger">
									<button class="button is-light">
										<span class="icon">
											<i class="mdi mdi-shape-circle-plus"></i>
										</span>
										<span>Add object to scene</span>
									</button>
								</div>
								<div class="dropdown-menu" id="dropdown-menu" role="menu">
									<div class="dropdown-content">
										<a class="dropdown-item" @click="addSceneObject('sphere')">
											<span class="icon is-small is-left">
												<i class="mdi" :class="[sceneObjectIcon('sphere')]"></i>
											</span>
											<span>Sphere</span>
										</a>
										<a class="dropdown-item" @click="addSceneObject('plane-xz')">
											<span class="icon is-small is-left">
												<i class="mdi" :class="[sceneObjectIcon('plane-xz')]"></i>
											</span>
											<span>Plane</span>
										</a>
										<a class="dropdown-item" @click="addSceneObject('light')">
											<span class="icon is-small is-left">
												<i class="mdi" :class="[sceneObjectIcon('light')]"></i>
											</span>
											<span>Light</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="scene-object message" v-for="(sceneObject, index) in scene.sceneObjects">
						<div class="message-body">
							<div class="scene-object-title">
								<span class="icon has-text-info">
									<i class="mdi mdi-24px" :class="[sceneObjectIcon(sceneObject.type)]" :style="{ color: sceneObject.material.colour.hex }"></i>
								</span>
								<h5 class="title is-5 is-marginless">{{sceneObjectTitle(sceneObject.type)}}</h5>
								<span class="spacer"></span>
								<button class="button is-small is-light is-rounded" @click="duplicateSceneObject(index)">
									<span class="icon"><i class="mdi mdi-plus-circle-multiple"></i></span>
									<span>Duplicate</span>
								</button>
								<button class="button is-small is-light is-rounded" @click="sceneObject.isExpanded = !sceneObject.isExpanded">
									<span class="icon"><i class="mdi mdi-unfold-more-horizontal"></i></span>
								</button>
								<button class="button is-small is-light is-rounded" @click="deleteSceneObject(index)">
									<span class="icon"><i class="mdi mdi-delete"></i></span>
								</button>
							</div>

							<div class="scene-object-body" v-if="sceneObject.isExpanded">
								<div class="columns is-multiline" v-if="sceneObject.type == 'sphere' || sceneObject.type == 'light'">
									<div class="column is-one-quarter">
						
										<div class="field">
											<label class="label is-small">Position X</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.5"
													:placeholder="sceneObjectTitle(sceneObject.type) + ' X position'"
													v-model.number="sceneObject.position.x">
												<span class="icon is-small is-left">
													<i class="mdi mdi-axis-y-arrow"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.5" min="-50" max="50"
												v-model.number="sceneObject.position.x" type="range">
										</div>
						
									</div>
									<div class="column is-one-quarter">
						
										<div class="field">
											<label class="label is-small">Position Y</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.5"
													:placeholder="sceneObjectTitle(sceneObject.type) + ' Y position'"
													v-model.number="sceneObject.position.y">
												<span class="icon is-small is-left">
													<i class="mdi mdi-axis-z-arrow"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.5" min="-50" max="50"
												v-model.number="sceneObject.position.y" type="range">
										</div>
						
									</div>
									<div class="column is-one-quarter">
						
										<div class="field">
											<label class="label is-small">Position Z</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.5"
													:placeholder="sceneObjectTitle(sceneObject.type) + ' Z position'"
													v-model.number="sceneObject.position.z">
												<span class="icon is-small is-left">
													<i class="mdi mdi-axis-x-arrow"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.5" min="-50" max="50"
												v-model.number="sceneObject.position.z" type="range">
										</div>

									</div>
									<div class="column is-one-quarter">
						
										<div class="field">
											<label class="label is-small">Radius</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.5"
													:placeholder="sceneObjectTitle(sceneObject.type) + ' radius'"
													v-model.number="sceneObject.radius">
												<span class="icon is-small is-left">
													<i class="mdi mdi-radius"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.5" min="0" max="30"
												v-model.number="sceneObject.radius" type="range">
										</div>
						
									</div>
								</div>

								<div class="columns is-multiline" v-if="sceneObject.type == 'plane-xz'">
									<div class="column is-one-quarter">

										<div class="field">
											<label class="label is-small">Position Y</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.5" :placeholder="sceneObjectTitle(sceneObject.type) + ' Y position'" v-model.number="sceneObject.y">
												<span class="icon is-small is-left">
													<i class="mdi mdi-axis-z-arrow"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.5" min="-50" max="50" v-model.number="sceneObject.y" type="range">
										</div>

									</div>
								</div>

								<div class="columns is-multiline" v-if="sceneObject.material">
									<div class="column is-one-quarter">
									
										<div class="field">
											<label class="label is-small">Colour red</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.001" min="0" max="1" placeholder="Colour red" v-model.number="sceneObject.material.colour.r">
												<span class="icon is-small is-left">
													<i class="mdi mdi-invert-colors"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.001" min="0" max="1" v-model.number="sceneObject.material.colour.r" type="range">
										</div>
									
									</div>
									<div class="column is-one-quarter">
									
										<div class="field">
											<label class="label is-small">Colour green</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.001" min="0" max="1" placeholder="Colour green" v-model.number="sceneObject.material.colour.g">
												<span class="icon is-small is-left">
													<i class="mdi mdi-invert-colors"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.001" min="0" max="1" v-model.number="sceneObject.material.colour.g" type="range">
										</div>
									
									</div>
									<div class="column is-one-quarter">
									
										<div class="field">
											<label class="label is-small">Colour blue</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.001" min="0" max="1" placeholder="Colour blue" v-model.number="sceneObject.material.colour.b">
												<span class="icon is-small is-left">
													<i class="mdi mdi-invert-colors"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.001" min="0" max="1" v-model.number="sceneObject.material.colour.b" type="range">
										</div>

									</div>
									<div class="column is-one-quarter" v-if="sceneObject.type == 'light'">
									
										<div class="field">
											<label class="label is-small">Intensity</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="1" min="0" max="50" placeholder="Intensity" v-model.number="sceneObject.intensity">
												<span class="icon is-small is-left">
													<i class="mdi mdi-lightbulb-on"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="1" min="0" max="50" v-model.number="sceneObject.intensity" type="range">
										</div>

									</div>
								</div>

								<div class="columns is-multiline" v-if="sceneObject.type == 'sphere' || sceneObject.type == 'plane-xz'">

									<div class="column is-one-quarter">
									
										<div class="field">
											<label class="label is-small">Roughness</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.01" min="0" max="1" placeholder="Roughness" v-model.number="sceneObject.material.roughness" :disabled="sceneObject.material.roughnessMix >= 1">
												<span class="icon is-small is-left">
													<i class="mdi mdi-texture-box"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.01" min="0" max="1" v-model.number="sceneObject.material.roughness" type="range" :disabled="sceneObject.material.roughnessMix >= 1">
										</div>

									</div>

									<div class="column is-one-quarter" v-if="pathTracer.settings.allowSecondaryRoughness">
									
										<div class="field">
											<label class="label is-small">Secondary Roughness Mix</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.01" min="0" max="1" placeholder="Roughness Mix" v-model.number="sceneObject.material.roughnessMix">
												<span class="icon is-small is-left">
													<i class="mdi mdi-layers"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.01" min="0" max="1" v-model.number="sceneObject.material.roughnessMix" type="range">
										</div>

									</div>

									<div class="column is-one-quarter" v-if="pathTracer.settings.allowSecondaryRoughness">
									
										<div class="field">
											<label class="label is-small">Secondary Roughness</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.01" min="0" max="1" placeholder="Secondary Roughness" v-model.number="sceneObject.material.secondaryRoughness" :disabled="sceneObject.material.roughnessMix <= 0">
												<span class="icon is-small is-left">
													<i class="mdi mdi-texture-box"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.01" min="0" max="1" v-model.number="sceneObject.material.secondaryRoughness" type="range" :disabled="sceneObject.material.roughnessMix <= 0">
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<hr>

					<div class="scene-object message">
						<div class="message-body">
							<div class="scene-object-title">
								<span class="icon has-text-info">
									<i class="mdi mdi-24px mdi-weather-sunset" :style="{ color: scene.ambientColour.hex }"></i>
								</span>
								<h5 class="title is-5 is-marginless">Ambient Light</h5>
							</div>

							<div class="scene-object-body">
								<div class="columns is-multiline">
									<div class="column is-one-quarter">
						
										<div class="field">
											<label class="label is-small">Colour Red</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.001" min="0" max="1" placeholder="Colour red" v-model.number="scene.ambientColour.r">
												<span class="icon is-small is-left">
													<i class="mdi mdi-invert-colors"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.001" min="0" max="1" v-model.number="scene.ambientColour.r" type="range">
										</div>
						
									</div>
									<div class="column is-one-quarter">
									
										<div class="field">
											<label class="label is-small">Colour green</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.001" min="0" max="1" placeholder="Colour green" v-model.number="scene.ambientColour.g">
												<span class="icon is-small is-left">
													<i class="mdi mdi-invert-colors"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.001" min="0" max="1" v-model.number="scene.ambientColour.g" type="range">
										</div>
									
									</div>
									<div class="column is-one-quarter">
									
										<div class="field">
											<label class="label is-small">Colour blue</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.001" min="0" max="1" placeholder="Colour blue" v-model.number="scene.ambientColour.b">
												<span class="icon is-small is-left">
													<i class="mdi mdi-invert-colors"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.001" min="0" max="1" v-model.number="scene.ambientColour.b" type="range">
										</div>

									</div>
									<div class="column is-one-quarter">
									
										<div class="field">
											<label class="label is-small">Intensity</label>
											<div class="control has-icons-left">
												<input class="input is-small" type="number" step="0.1" min="0" max="5" placeholder="Intensity" v-model.number="scene.ambientIntensity">
												<span class="icon is-small is-left">
													<i class="mdi mdi-lightbulb-on"></i>
												</span>
											</div>
											<input class="slider is-fullwidth is-circle is-small" step="0.1" min="0" max="5" v-model.number="scene.ambientIntensity" type="range">
										</div>

									</div>
								</div>

							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="tab-container columns" v-if="selectedTab == 'render-settings'">

				<div class="column">
					<h4 class="title is-4">Render settings</h4>
					<div class="columns">
						<div class="column">

							<div class="field ">
								<label class="label is-small">Frame limit</label>
								<div class="control has-icons-left">
									<input class="input is-small is-info" type="number" min="1" placeholder="Frame limit" v-model.number="frameLimit">
									<span class="icon is-small is-left">
										<i class="mdi mdi-camera-burst"></i>
									</span>
								</div>
								<span class="help has-text-grey-light">The number of frames to render and average</span>
							</div>
						
						</div>
						<div class="column">

							<div class="field ">
								<label class="label is-small">Thread count</label>
								<div class="control has-icons-left">
									<input class="input is-small is-info" type="number" min="1" placeholder="Thread count" v-model.number="pathTracer.settings.threadCount">
									<span class="icon is-small is-left">
										<i class="mdi mdi-cog"></i>
									</span>
								</div>
								<span class="help has-text-grey-light">The number of web workers to spawn and use when rendering a frame</span>
							</div>

						</div>
						<div class="column">

							<div class="field ">
								<label class="label is-small">Max bounce depth</label>
								<div class="control has-icons-left">
									<input class="input is-small is-info" type="number" min="0" placeholder="Max bounce depth" v-model.number="pathTracer.settings.maxDepth">
									<span class="icon is-small is-left">
										<i class="mdi mdi-call-missed"></i>
									</span>
								</div>
								<span class="help has-text-grey-light">The maximum number of ray reflections to perform per pixel</span>
							</div>

						</div>
					</div>
					<div class="columns">
						<div class="column is-one-third">

							<div class="field ">
								<label class="label is-small">Bounce masking</label>
								<div class="buttons has-addons is-marginless settings-toggle">
									<button class="button is-small" 
										:class="{ 'is-info is-selected': pathTracer.settings.bounceMasking }" 
										@click="pathTracer.settings.bounceMasking = true">
										On
									</button>
									<button class="button is-small" 
										:class="{ 'is-info is-selected': !pathTracer.settings.bounceMasking }"
										@click="pathTracer.settings.bounceMasking = false">
										Off
									</button>
								</div>
								<span class="help has-text-grey-light">Whether to represent absorption of colours as rays bounce off objects in the scene</span>
							</div>

						</div>
						<div class="column is-one-third">

							<div class="field ">
								<label class="label is-small">Allow Secondary Roughness</label>
								<div class="buttons has-addons is-marginless settings-toggle">
									<button class="button is-small" 
										:class="{ 'is-info is-selected': pathTracer.settings.allowSecondaryRoughness }" 
										@click="pathTracer.settings.allowSecondaryRoughness = true">
										On
									</button>
									<button class="button is-small" 
										:class="{ 'is-info is-selected': !pathTracer.settings.allowSecondaryRoughness }"
										@click="pathTracer.settings.allowSecondaryRoughness = false">
										Off
									</button>
								</div>
								<span class="help has-text-grey-light">Allow scene objects to have a secondary roughness, which can be used to simulate a partially transparent surface layer</span>
							</div>

						</div>
					</div>
				</div>
				<div class="column">
					<div class="columns">
						<div class="column">
							<h4 class="title is-4">Camera settings</h4>
						</div>
					</div>
					<div class="columns">
						<div class="column">

							<div class="field">
								<label class="label is-small">Position X</label>
								<div class="control has-icons-left">
									<input class="input is-small is-warning" type="number" step="0.5" placeholder="Camera X position" v-model.number="camera.location.x">
									<span class="icon is-small is-left">
										<i class="mdi mdi-axis-y-arrow"></i>
									</span>
								</div>
								<input class="slider is-fullwidth is-warning is-circle is-small" step="0.5" min="-50" max="50" v-model.number="camera.location.x" type="range">
							</div>

						</div>
						<div class="column">

							<div class="field">
								<label class="label is-small">Position Y</label>
								<div class="control has-icons-left">
									<input class="input is-small is-warning" type="number" step="0.5" placeholder="Camera Y position" v-model.number="camera.location.y">
									<span class="icon is-small is-left">
										<i class="mdi mdi-axis-z-arrow"></i>
									</span>
								</div>
								<input class="slider is-fullwidth is-warning is-circle is-small" step="0.5" min="-50" max="50" v-model.number="camera.location.y" type="range">
							</div>

						</div>
						<div class="column">
						
							<div class="field">
								<label class="label is-small">Position Z</label>
								<div class="control has-icons-left">
									<input class="input is-small is-warning" type="number" step="0.5" placeholder="Camera Z position" v-model.number="camera.location.z">
									<span class="icon is-small is-left">
										<i class="mdi mdi-axis-x-arrow"></i>
									</span>
								</div>
								<input class="slider is-fullwidth is-warning is-circle is-small" step="0.5" min="-50" max="50" v-model.number="camera.location.z" type="range">
							</div>

						</div>
					</div>
					<div class="columns">
						<div class="column is-one-third">

							<div class="field">
								<label class="label is-small">Field of view</label>
								<div class="control has-icons-left">
									<input class="input is-small is-warning" type="number" step="0.1" min="0" placeholder="Field of view" v-model.number="camera.fov">
									<span class="icon is-small is-left">
										<i class="mdi mdi-angle-acute"></i>
									</span>
								</div>
								<input class="slider is-fullwidth is-warning is-circle is-small" step="0.1" min="0" max="3" v-model.number="camera.fov" type="range">
							</div>

						</div>
						<div class="column is-one-third">

							<div class="field">
								<label class="label is-small">Anti-aliasing</label>
								<div class="buttons has-addons is-marginless settings-toggle">
									<button class="button is-small" 
										:class="{ 'is-warning is-selected': camera.antiAlias }"
										@click="camera.antiAlias = true">
										On
									</button>
									<button class="button is-small"
										:class="{ 'is-warning is-selected': !camera.antiAlias }"
										@click="camera.antiAlias = false">
										Off
									</button>
								</div>
							</div>
						
						</div>
					</div>
					<div class="columns">
						<div class="column">
					
							<div class="field ">
								<label class="label is-small">Depth of field</label>
								<div class="buttons has-addons is-marginless settings-toggle">
									<button class="button is-small"
										:class="{ 'is-warning is-selected': camera.depthOfField }"
										@click="camera.depthOfField = true">
										On
									</button>
									<button class="button is-small"
										:class="{ 'is-warning is-selected': !camera.depthOfField }"
										@click="camera.depthOfField = false">
										Off
									</button>
								</div>
							</div>
					
						</div>
						<div class="column">

							<div class="field">
								<label class="label is-small">Depth of field strength</label>
								<div class="control has-icons-left">
									<input class="input is-small is-warning" type="number" step="0.05" min="0" placeholder="Depth of field strength" v-model.number="camera.depthOfFieldStrength">
									<span class="icon is-small is-left">
										<i class="mdi mdi-eye-settings"></i>
									</span>
								</div>
								<input class="slider is-fullwidth is-warning is-circle is-small" step="0.05" min="0" max="3" v-model.number="camera.depthOfFieldStrength" type="range">
							</div>
					
						</div>
						<div class="column">
					
							<div class="field">
								<label class="label is-small">Focal depth</label>
								<div class="control has-icons-left">
									<input class="input is-small is-warning" type="number" step="0.5" min="0" placeholder="Focal depth" v-model.number="camera.focalDepth">
									<span class="icon is-small is-left">
										<i class="mdi mdi-arrow-collapse-up"></i>
									</span>
								</div>
								<input class="slider is-fullwidth is-warning is-circle is-small" step="0.5" min="0" max="100" v-model.number="camera.focalDepth" type="range">
							</div>

						</div>
					</div>

				</div>
			</div>
			<div class="footer-spacer"></div>
		</div>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script type="module" src="js/main.js"></script>
</body>
</html>